body {
    background-image: url('./pexels-pixabay-355829.jpg');
    background-size: cover;
    margin: 0;
}

.container {
    margin: auto;
    padding: 20px;
    width: 70%;
}

.sub-container {
    display: flex;
    flex-wrap: wrap;
    padding: 0px;
    margin: 0px;
}

.sub-container input,select {
    flex: 1;
    margin: 4px;
}

#heading {
    text-align: center;
    font-weight: bold;
}

#sub {
    padding-bottom: 0;
    margin-bottom: 0;
}

label, h1, h4 {
    color: rgb(147, 202, 203);
}

input,select{
    padding: 10px;
    margin: 4px 0 10px 0;
    border: 1px solid #ccc;
    border-radius: 10px;
}
select{
    margin-bottom: 4px;
}

input[type="text"] {
    width: 100%;
}

input[type="date"] {
    width: auto; 
}

input[type="submit"] {
    text-align: center;
    padding: 10px;
    background-color: burlywood;
    border: none;
}

.submit-btn{
    text-align: center;
}

